<ul id="readinglist">
  {{#each}}
  <li {{bind-attr class="isRead:completed"}}>
    <input type="checkbox" class="toggle" />
    <label>{{title}}</title>
    <button class="destroy" />
  </li>
  {{/each}}
</ul>
